/*-----------------------------------------------------------
-------------------------Главная мобил-----------------------
------------------------------------------------------------*/
html{
	background-color: #000000;
}

.body{
	width: 320px;
	font-size: 20px;
	font-weight: normal;
	line-height: 22px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: #ffffff;
	background: #242424; /*для старых броузеров*/
	margin: 0 auto;
	position: relative;
}

/*--------------------Меню-----------------------------*/
.header{
	width: 280px;
	font-style: bold;
	text-transform: uppercase;


}

.header__logo{
	height: 70px;
	margin-left: 55px;
	background: url("../img/header_logo_mobil.png") no-repeat;

}

.menu__wrapper{
	width: 320px;
	display: flex;
}

.menu__button{
	width: 70px;
	height: 50px;
	border: none;
	font-size: 0;
	background: #000000 url("../img/icon-menu-bottom.png") center no-repeat;
	outline: none;
	cursor: pointer; 
	
}

.menu__current{
	display: inline-block;
	width: 250px;
	height: 50px;
	background-color: rgba(193, 135, 92, 0.7);
	line-height: 50px;
	text-align: center;
}

.menu__list{
	position: absolute;
	z-index: 30;
	margin: 0;
	margin-top: 10px
	padding-top: 10px;
	padding: 0;
	list-style: none;
	font-size: 0;
	width: 218px;
	height: 282px;
	background-color: #000000;
}

.menu__item{
	width: 202px;
	height: 45px;
	border: solid 3px #1c1c1c;
	margin: 5px;
	font-size: 20px;
	color: #ffffff;
	line-height: 45px;
	text-align: center;

}

.menu__item__link{
	text-decoration: none;
	color: #ffffff;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 50px;
	padding-right: 50px;
}

/*---------------Полезная информация--------------------*/
 
.article{
	width: 280px;
	margin-right: 20px;
	margin-left: 20px;
	text-align: center;
	
}

.article__main-title{
	display: inline-block;
	font-size: 25px;
	line-height: 25px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 25px;
}

.article__list{
	list-style: none;
	margin: 0;
	padding: 0;
}

.article__title{
	font-size: 23px;
	font-weight: bold;
	line-height: 25px;
	text-transform: uppercase;
}

.article__text{
	font-size: 20px;
	font-weight: normal;
	line-height: 22px;
	margin-bottom: 35px;
}

.article__link{
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	text-transform: uppercase;
	color: #ffffff;
	padding-top: 50px;
	padding-left: 130px;
	padding-bottom: 30px;

}

.article__item{
	width: 280px;
	height: 370px;


}

.article__item--care::before{
	content: "";
	display: block;
	width: 101px;
	height: 125px;
	background: url("../img/icon-care.png") center no-repeat;
	margin-left: 85px;
}

.article__item--wax::before{
	content: "";
	display: block;
	width: 126px;
	height: 125px;
	background: url("../img/icon-wax.png") center no-repeat;
	margin-left: 80px;
}

.article__item--shugaring::before{
	content: "";
	display: block;
	width: 96px;
	height: 125px;
	background: url("../img/icon_shugaring.png");
	margin-left: 100px;
}

/*.article__slider{
	display: flex;
	width: 840px;
}*/

.slader__toggle{
	width: 15px;
	height: 15px;
	font-size: 0;
	border: none;
	border: 1px solid #ffffff;
	background: #000000;
	transform: rotate(45deg);
	margin-right: 20px;
	outline: none;
}

.toggler{
	background: #ffffff;
}

.hidden{
	display: none;
}

/*--------------Обо мне------------------------*/

.global-wrapper{
	background: #242424;
	position: relative;
	z-index: 20;
	transition: 0.5s linear;
	-webkit-transition: 0.5s linear;
	-o-transition: 0.5s linear;
	-moz-transition: 0.5s linear;
}

.about-me{
	position: relative;
	width: 320px;
	height: 741px;
	background: url("../img/about-me-backgroung.png") center no-repeat;
}

.about-me__wrapper{
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	z-index: 20;
}
.about-me__foto{
	margin-top: 100px;
}

.about-me__text{
	font-size: 20px;
	line-height: 22px;
	font-weight: normal;
	color: #000000;
}

.about-me__button{
	display: block;
	width: 200px;
	height: 40px;
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #000000;
	margin-left: 40px;
	margin-top: 40px;
}
/*--------------------Подвал-----------------------------*/

.footer{
	width: 320px;
	height: 312px;
	font-size: 18px;
	list-style: 27px;
	z-index: 20;
}

.footer__wraper{
	margin-right: 20px;
	margin-left: 20px;
	text-align: center;
}

.footer__name{
	margin-top: 25px;
	text-transform: uppercase;
	font-weight: bold;
}

.footer__adress{
	margin-top: 25px;
	font-weight: normal;
}

.footer_phone{
	margin-top: 25px;
	font-weight: bold;
}

.footer__social{
	margin-top: 40px;
	text-transform: uppercase;
	font-weight: bold;
}

.social__link{
	text-decoration: none;
	font-size: 0;
	display: block;
	width: 45px;
	height: 46px;
	background: url("../img/icon-vk.png") center no-repeat;
	margin-top: 25px;
	margin-left: 117px;
}

/*------------PopUp на главной (полезная информация)-------*/

.modal-article__wrapper{
	background: #242424;
	position: absolute;
	width: 320px;
	top: 640px;
	left: 0;
	z-index: 0;
}

.modal-article__list{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-right: 20px;
	margin-left: 20px;
}

.modal-article__item{
	font-size: 15px;
	font-weight: normal;
}

.modal-article__text__name{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.modal-article__close{
	border: none;
	font-size: 0;
	width: 48px;
	height: 23px;
	background: url("../img/slideup.png") center no-repeat;
	margin-left: 116px;
	outline: none;
	cursor: pointer; 
	
}


/*-----------------------------------------------------------
-------------------------Отзывы мобил-----------------------
------------------------------------------------------------*/

.reviews__list{
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	margin-top: 30px;
}
.item__name{
	display: block;
	position: relative;
	
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	margin-top: -50px;
}
.item__text{
	margin-top: 45px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 18px;
	outline-width: 22px;
	font-weight: normal;
	text-align: left;
}

.footer__reviews{
	margin-top: 60px;
}

.footer__reviews::before{
	content: "";
	display: block;
	width: 280px;
	height: 3px;
	background: #1c1c1c;
}

/*--------------------------------------------------------
---------------------Форма записи мобил-------------------
---------------------------------------------------------*/

.enroll__wrapper{
	margin-bottom: 0px;
	background: #f5f5f5;
	color: #000000;
}

.enroll__title{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	padding-top: 20px;
}

.enroll__annotation{
	margin-left: 20px;
	margin-right: 20px;

}
.enroll__form{
	text-align: center;
}
.enroll__item__name{
	font-weight: bold;
	text-transform: uppercase;
}

.enroll__item__name span{
	color: red;
}

.enrol__item__field{
	width: 280px;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.enroll__warning{
	font-size: 12px;
	font-weight: normal;
	color: red;
}

.enroll__button{
	width: 280px;
	height: 40px;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #000000;
}

.enroll__decoration{
	width: 320px;
	height: 70px;
	background: url("../img/decor.png") center no-repeat;
	margin-top: -20px;
}

/*------------------------------------------------------------------
-------------------------Прайс мобил-------------------------------
-------------------------------------------------------------------*/

.price__item{
	position: relative;
	background: #f8f5f2;
	margin-top: 25px;
	color: #000000;
	text-align: center;
	padding-bottom: 2px;
	z-index: 20;
}

.price_img{
	margin-top: 20px;
}

.price__title{
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.price__price{
	font-size: 20px;
	font-weight: bold;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	background: #e5e5e5;
}

.price__button{
	border: none;
	width: 320px;
	height: 70px;
	font-size: 20px;
	font-weight: bold;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	text-transform: uppercase;
	background: url("../img/decor.png") no-repeat center;
	/*margin-top: -20px;*/
	outline: none;
	cursor: pointer;
}

.price__descr{


}

.price__descr__text{
	font-size: 18px;
	font-weight: normal;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}

.add_transition{
	transition: 0.5s linear;
}

/*--------------------------------------------------------
-------------------Контакты мобил-------------------------
---------------------------------------------------------*/

.contacts__map{
	margin-top: 30px;
}

/*---------------------------------------------------------
--------------------Статьи мобил---------------------------
-----------------------------------------------------------*/

.notes{
	min-height: 400px;
}

.notes__menu{
	width: 320px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-size: 13px;
	font-weight: normal;
	margin-bottom: 10px;
	height: 40px;
}

.notes__menu__item{
	width: 320px;
}

.notes__item{
	background: #f5f5f5;
	color: #000000;
	padding-top: 1px;
	padding-bottom: 20px;
	font-size: 18px;
}

.notes__text{
	margin-left: 20px;
	margin-right: 20px;
}

.notes__img{
	padding-bottom: 20px;
}

.notes__decor{
	width: 320px;
	height: 70px;
	margin-top: -25px;
	background: url("../img/decor.png") center no-repeat;
}
