/*-----------------------------------------------------*/
/*--------------------Main Page------------------------*/
/*-----------------------------------------------------*/
html{
	overflow-x: hidden;
}
.body{
	min-width: 980px;
	/*height: 1900px;*/
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: #ffffff;
	background: #000000; /*для старых броузеров*/
	background: linear-gradient(to top, #1d1d1d, #0b0b0b);
}
.clearfix::after{/*распорка для float*/
	content: "";
	display: table;
	clear: both;
}
.main-header{
	height: 70px;
	background-color: #000000;
	margin-bottom: 40px;
}
.conteiner{
	height: 70px;
	width: 980px;
	padding: 0 10px;/*отступ сверху/снизу - 0, отступ справа/слева - 10*/
	margin: 0 auto;/*центровка контиейнера меню*/
}
.main-navigation{
	float: left;
	height: 70px;
	width: 960px;
	text-align: center;
}
.main-navigation::before{
	content: "";
	float: left;
	width: 180px;
	height: 65px;
	margin-top: 3px;
	background: transparent url("../img/logo_header.png") center no-repeat;
}
.main-navigation a{
	display: block; /*делаем ссылку блочной, чтобы можно было добавить отступы*/
	padding-top: 15px;
	padding-bottom: 25px;
	padding-right: 20px;
	padding-left: 20px;
	color: #ffffff;
	font-variant: small-caps;
	text-decoration: none; /*убрать подсветку ссылок*/
}
.main-navigation a:hover{ /*действия при наведении на ссылку*/
	background: #1f1f1f;
}
.main-navigation ul{ /*сброс отступов у списка и убрать точки у элементов*/
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0; /*обнуляем размер текста в родительском блоке для установки размера в блоках li*/	
}
.main-navigation li{
	display: inline-block; /*превращаем список в строку*/
	vertical-align: top; /*выравниваем строку по верхнему краю блока*/
	font-size: 25px;
	line-height: 30px;
}

.index-logo{
	width: 909px;
	height: 440px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 65px;
}
.main-article{
	height: 300px;
	width: 980px;
	padding: 0 10px;/*отступ сверху/снизу - 0, отступ справа/слева - 10*/
	margin: 0 auto;/*центровка контиейнера меню*/
	margin-bottom: 65px;
}
.main-article-item{
	position: relative;
	float: left;
	width: 313px;
	height: 300px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 15px;
	padding-bottom: 25px;
	margin-right: 10px;
	transition: 0.5s linear;/*нужно, чтобы корректно работал scale ниже*/
}
.main-article-item:hover{
	transition-timing-function: ease;
	-webkit-transform: scale(1.07);
  	transform: scale(1.07);
 }
.main-article-item:last-child{ /*псевдокласс, стилизация последнего элемента, в данном случае у последнего элемента убирается отступ*/
	margin-right: 0;
}
.main-article-item h2{
	position: relative;
	display: block;
	text-align: center;
	font-size: 25px;
	line-height: 30px;
	font-weight: bold;
	margin-bottom: 0px;
	padding-bottom: 40px;
}
.main-article-item h2::after{ /*псевдо элемент квадратик*/
	content: "";/*обязательное условие*/			
	position: absolute;/*будем смещать относительного родительского элемента h2 position: relative*/
	bottom: 0;/*прижимаем к нижней границе родительского элемента*/
	left: 50%;/*распологаем по центру левую грань псевдоэлемента относительно родительского элемента*/
	display: block;/*для того чтобы элемент отрисовался*/
	width: 20px;
	height: 20px;
	margin-left: -10px;/*ребро элемента 20px, смещвем влево на 10px, сейчас элемент по центру*/
	background-color: #ffffff;
	transform: rotate(45deg);/*поворачиваем элемент на 45 гр*/
}
.main-article-item p{
	text-align: left;
	font-size: 14px;
	line-height: 17px;
	font-weight: normal;
	text-transform: none;
	padding-left: 27px;
	padding-right: 0px;
}

.main-article-item a{
	position: absolute;
	bottom: 30px;
	right: 30px;
	font-size: 20px;
	line-height: 25px;
	font-variant: small-caps;
	color: #ffffff;
	padding-top: 258px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 170px;
}
.about-me{
	position: relative;
	width: 960px;
	height: 322px;
	padding: 0 10px;
	margin: 0 auto;
	background-color: #f7f4f1;
	color: #000000;
	font-size: 20px;
	line-height: 27px;
	font-weight: normal;
	margin-bottom: 65px;
}
.about-me a{
	position: absolute;
	bottom: 30px;
	right: 30px;
	text-decoration: none;
	color: #000000;
	font-size: 27px;
	line-height: 29px;
	font-weight: bold;
	font-variant: small-caps;
	padding-top: 7px;
	padding-bottom: 9px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #a2a2a2;
	border-style: solid;
	border-color: #a2a2a2;
}
.about-me a:hover{
	background-color: #000000;
	color: #ffffff; 
}
.about-me p{
	display: inline-block;
	width: 570px;
	height: 140px;
	vertical-align: top;
	margin-top: 90px;
	margin-right: 5px;
}
.my-photo{
	float: left;
	width: 322px;
	height: 322px;
	margin-right: 40px;
}
.about-me-text{
	float: left;
	width: 540px;
	height: 400px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.contacts{
	width: 980px;
	height: 320px;
	padding: 0 10px;
	margin: 0 auto;
}
.contacts-left{
	float: left;
	width: 475px;
	height: 320px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: 10px;
	font-size: 20px;
	line-height: 27px;
	font-weight: normal;
}
.contacts-left p{
	margin-top: 25px;
	margin-bottom: 5px;
}
.contacts-left-phone{
	position: relative;
	padding-left: 60px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 0px;
}
.contacts-left-phone::before{
	content: "";
	position: absolute;
	display: block;
	width: 45px;
	height: 50px;
	bottom: 50%;
	left: 0;
	margin-bottom: -25px;
	background: transparent url("../img/viber_icon.png") center no-repeat;
}
.contacts-left a{
	position: relative;
	text-decoration: none;
	color: #ffffff;
	padding-left: 60px;
	padding-top: 25px;
	padding-bottom: 25px;
	bottom: -22px;
}
.contacts-left a::before{
	content: "";
	position: absolute;
	display: block;
	width: 46px;
	height: 46px;
	bottom: 50%;
	left: 0;
	margin-bottom: -23px;
	background: transparent url("../img/vk_icon.png") center no-repeat; 
}
.contacts-left a:hover{
	text-decoration: underline;
}
.contacts-right{
	float: right;
	width: 475px;
	height: 320px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 27px;
	line-height: 40px;
}
.contacts-right h2{
	font-size: 27px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}
.contacts-right input{
	display: block;
	width: 220px;
	height: 35px;
}
.appointment-form-item{
	float: left;
	margin-right: 7px;
	margin-left: 5px;
	margin-bottom: 10px;
}
.appointment-form-item::ntl-child(2n){
	margin-right: 0;
}
.appointment-form-item p{
	font-variant: small-caps;
	margin-bottom: 10px;
	margin-top: 0px;
	line-height: 25px;
	text-align: center;
}
.appointment-form-item input{
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}
.btn{
	margin-top: 20px;
	width: 230px;
	height: 45px;
	margin-left: 120px;
	text-decoration: none;
	color: #000000;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-size: 27px;
	line-height: 27px;
	font-weight: bold;
	font-variant: small-caps;
	border: none;
	padding-top: 0px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #a2a2a2;
	border-style: solid;
	border-color: #a2a2a2;

}
.btn:hover{
	background-color: #000000;
	color: #ffffff;
}
.main-footer{
	margin-top: 65px;
	height: 200px;
	background-color: #252525;
}
.footer-conteiner{
	height: 200px;
	width: 960px;
	padding: 0 10px;/*отступ сверху/снизу - 0, отступ справа/слева - 10*/
	margin: 0 auto;/*центровка контиейнера меню*/
	color: #ffffff;
}

.main-footer-logo{
	float: left;
	height: 200px;
	width: 390px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: 10px;
}
.main-footer-adress{
	float: left;
	height: 200px;
	width: 340px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: 10px;
	font-size: 14px;
	line-height: 29px;
	font-weight: bold;
	text-transform: uppercase;
}
.main-footer-adress p{
	margin-top: 50px;
	margin-bottom: 0px;
}
.main-footer-adress a{
	margin-top: 5px;
	color: #ffffff;
}
.main-footer-social{
	float: right;
	height: 200px;
	width: 160px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 14px;
	line-height: 29px;
	font-weight: bold;
	text-transform: uppercase;
}
.main-footer-social p{
	margin-top: 50px;
	margin-bottom: 0px;
}
.main-footer-social a{
	text-decoration: none;
	display: inline-block;
	width: 46px;
	height: 46px;
	background: transparent url("../img/vk_icon.png") no-repeat center;
	font-size: 0px;
	vertical-align: top;
	padding-left: 60px;
	padding-bottom: 20px;
	margin-top: 0px;

}
/*-------------------------------------------------------------*/
/*-------------------------Popup-------------------------------*/
/*-------------------------------------------------------------*/
.modal-wax{
	display: none;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	color: #000000;
	border-right: 3px;
  	border-left: 3px;
  	border-bottom: 70px;
  	border-color: rgb(212, 212, 212);
  	border-style: solid;
  	background-color: rgb(246, 246, 246);
	box-shadow: 30px 30px 9.3px 0.7px rgba(0, 0, 0, 0.35);
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -367px;
	margin-top: -440px;
	width: 735px;
	height: 880px;
	z-index: 20;
}
.modal-wax-header{
	position: relative;
	max-width: 740px;
	max-height: 70px;
	background-color: #d4d4d4;
	padding: 0 10px;/*отступ сверху/снизу - 0, отступ справа/слева - 10*/
	margin: 0 auto;
}
.modal-wax-header h1{
	float: left;
	font-size: 25px
	font-weight: bold;
	color: #000000;
	line-height: 27px;
	padding-left: 283px;
}
.bntclose{
	position: absolute;
	display: block;
	text-decoration: none;
	color: #000000;
	font-size: 0px;
	width: 34px;
	height: 34px;
	margin-top: -36px;
	background: transparent url('../img/close.png') center no-repeat;
	right: 0;
	top: 0;
	transition: 0.2s linear;
}
.bntclose:hover{
	transform: scale(1.2);	

}
.modal-wax-introduction{
	width: 700px;
	height: 260px
	padding: 0 10px;/*отступ сверху/снизу - 0, отступ справа/слева - 10*/
	margin: 0 auto;
}
.modal-wax-img-left{
	float: left;
	padding-right: 10px;
	padding-bottom: 10px; 
}
.modal-wax-article_1{
	width: 700px;
	height: 263px;
	padding: 0 10px;/*отступ сверху/снизу - 0, отступ справа/слева - 10*/
	margin: 0 auto;
}
.modal-wax-article_1 h2{
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	padding-left: 35px;
}
.modal-wax-img-right{
	float: right;
	padding-left: 10px;
	padding-bottom: 10px; 
	vertical-align: top;
}
.modal-wax-article_2{
	width: 700px;
	height: 260px;
	padding: 0 10px;/*отступ сверху/снизу - 0, отступ справа/слева - 10*/
	margin: 0 auto;
}
.modal-wax-article_2 h2{
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	padding-left: 330px;
}
.modal-map{
	display: none;
}
.modal-map-conteiner{
	position: fixed;
	width: 735px;
	height: 500px;
	border: 3px;
  	border-color: rgb(212, 212, 212);
  	border-style: solid;
  	background-color: rgb(246, 246, 246);
	box-shadow: 30px 30px 9.3px 0.7px rgba(0, 0, 0, 0.35);
	top: 50%;
	left: 50%;
	margin-left: -367px;
	margin-top: -250px;
	z-index: 20;
}
.modal-overlay{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}
.modal-show{
	display: block;
}
/*------------------------------------------------------------
----------------------Pages Reviews---------------------------
---------------------------------------------------------------*/
.modal-reviews{
	position: absolute;
	display: none;
	left: 0;
	top: 50%;
	margin-top: -200px;
	height: 450px;
	width: 100%;
	z-index: 20;
	background: rgba(0, 0, 0, 0.9);
}
.modal-reviews-container{
	position: relative;
	width: 800px;
	height: 450px;
	padding: 0 10px;/*отступ сверху/снизу - 0, отступ справа/слева - 10*/
	margin: 0 auto;/*центровка контиейнера меню*/
	z-index: 30;
}
.modal-reviews-item{
	position: absolute;
	visibility: hidden;
	width: 800px;
	/*transition: 0.5s linear;*/
}
.modal-reviews-item img{
	float: left;
	width: 70px;
	height: 70px;
}
.modal-reviews-item span{
	font-size: 30px;
	font-weight: bold;
	line-height: 70px;
	text-decoration: underline;
	
	margin-left: 20px;
	
	display: inline-block;
	width: 70px;
	height: 70px;
}
.modal-reviews-item p{
	font-weight: normal;
	margin-left: 10px;
}

.close-reviews{
	position: absolute;
	text-decoration: none;
	border: none;
	font-size: 0;
	width: 34px;
	height: 34px;
	background: transparent url("../img/close.png") no-repeat center;
	right: 0;
	top: 0;
	margin-top: -34px;
	outline: none;
	transition: 0.2s linear;
}
.close-reviews:hover, .backward:hover, .forward:hover{
	cursor: pointer;
	transform: scale(1.2);
}
.backward{
	position: absolute;
	border: none;
	font-size: 0;
	width: 100px;
	height: 450px;
	background: transparent url("../img/backward.png") no-repeat center;
	top: 0;
	left: 0;
	margin-left: -100px;
	outline: none;
	transition: 0.2s linear;

}
.forward{
	position: absolute;
	border: none;
	font-size: 0;
	width: 100px;
	height: 450px;
	background: transparent url("../img/forward.png") no-repeat center;
	transition: 0.2s linear;
	top: 0;
	right: 0;
	margin-right: -100px;
	outline: none;
}

/*------------------------------------------------------
--------------------------Price-------------------------
--------------------------------------------------------*/
.price-body{
	min-width: 980px;
	/*height: 1900px;*/
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: #ffffff;
	background: #e5e5e5; /*для старых броузеров*/
}
.main-price{
	width: 980px;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
}
.main-price h1{
	font-size: 30px;
	line-height: 42px;
	padding-left: 20px;
}
.path{
	position: relative;
	width: 150px;
	height: 25px;
	margin-left: 20px;
	margin-bottom: 65px;
}
.path .path-main{
	float: left;
}
.path .path-main::after{
	content: "";
	position: absolute;
	width: 13px;
	height: 13px;
	top: 0px;
	left: 60px;
	margin-top: 5px;
	background-color: #000000;
	transform: rotate(45deg);
}
.path .path-price{
	float: right;
	color: #b8b8b8;
}
.main-price{
	width: 980px;
	padding: 0 10px;
	margin: 0 auto;
}
.price{
	width: 980px;
	padding: 0 10px;
	margin: 0 auto;
}
.price-item{
	float: left;
	position: relative;/*для позиционирования модальных окон*/
	width: 300px;
	height: 348px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #ffffff;
	box-shadow: 4px 9px 9.3px 0.7px rgba(0, 0, 0, 0.35);
	transition: 0.5s linear;
}
.price-item:hover{
	transition-timing-function: ease;
	-webkit-transform: scale(1.07);
  	transform: scale(1.07);
}
.price-item img{
	margin-left: 10px;
	margin-top: 10px;
}
.price-item h2{
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	margin-top: 5px;
}
.price-item span{
	display: inline-block;
	width: 260px;
	height: 40px;
	background-color: #e5e5e5;
	text-align: center;
	line-height: 40px;
	margin-left: 20px;
}
.price-item a{
	display: inline-block;
	width: 260px;
	height: 40px;
	text-decoration: none;
	color: #ffffff;
	background-color: #000000;
	margin-left: 20px;
	text-align: center;
	line-height: 40px;
}
.price-item a:hover{
	background-color: #663333;
}
.price-item-content{
	position: relative; /*чтобы z-index работал как мне надо*/
	width: 300px;
	height: 293px;
	background-color: #ffffff;
	border-bottom: solid #ffffff;
	z-index: 9;
}	
.price-item-btn{
	width: 300px;
	height: : 55px;
	padding-top: 5px;
	padding-bottom: 10px;
}
.modal-price-item{
	position: absolute;
	width: 300px;
	z-index: 8;
	transition: transform 0.5s ease-out;
}
.modal-price-item-container{
	width: 300px;
	background-color: #ffffff;
	color: #000000;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	/*box-shadow: 4px 9px 9.3px 0.7px rgba(0, 0, 0, 0.35);*/

}	
.modal-price-item-container p{
	text-align: center;
	padding-top: 10px;
	margin-bottom: 10px;
}
.modal-price-item-container button{
	font-size: 14px;
	font-weight: bold;
	font-family: inherit;
	color: #ffffff;
	background-color: #000000;
	text-transform: uppercase;
	width: 260px;
	height: 40px;
	border: none;
	margin-left: 20px;
	margin-bottom: 10px;
}
.modal-price-item-container button:hover{
	background-color: #663333;
}
.modal-face, .modal-armpits, .modal-hand, .modal-bikini, .modal-ass, .modal-legs{
	bottom: 0;
	left: 0;
}


/*----------------------------------------------*/
.item-zoom-up{
	transform: scale(1.07);
}

.hide-btn{
	display: none;
}
.modal-z-20{
	z-index: 20;
}
.modal-z-19{
	z-index: 19;
}

/*-----------------------------------------------*/